
<div class="container-xl" style="margin-top: 100px;">
 
    <a href="#" routerLink="/SessionList"  style="margin-right: 10px;" class="btn btn-danger back">
      <i class="fas fa-arrow-circle-left"></i>&nbsp;Back
    </a>
 
  <button class="btn btn-success" (click)="toggleCreateCourse()">
    <i class='fas fa-plus-circle'></i> 
    <span *ngIf="!showCreateCourse">ADD</span>
    <span *ngIf="showCreateCourse">CLOSE</span>
  </button>

  <div *ngIf="showCreateCourse">
    <app-createcourse></app-createcourse>
  </div>

    <div class="table-responsive">
      <div class="table-wrapper">
        <div class="table-title">
          <div class="row">
            <div class="col-sm-6">
              <h4><b>Courses List</b></h4>
            </div>
            <!-- <div class="col-sm-6">
              <! <button class="btn btn-success" (click)="AddProduct()"> ->
                <i class='fas fa-plus-circle' routerLink="/CourseCreate"></i><span> ADD</span>
              <!- </button> >
            </div--> 
          </div>
        </div>
        <table class="table table-striped table-hover table-bordered table-content">
          <thead>
            <tr class="center-align">
              <th>NAME</th>
              <th>DESCRIPTION</th>
              <th>ARCHIVED</th>
              <th>CLASSE NAME</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let course of listCourses" class="center-align">
              <td>{{ course.name }} </td>
              <td>{{ course.description }} </td>
              <td>{{ course.archive }} </td> 
              <td>{{course.classe.name}}</td>
              <td>
             <a href="#" [routerLink]="['/CourseUpdate/', course.id]" class="btn"><i class='fas fa-edit edit'></i></a> 
                <a (click)="deleteCourse(course.id)" class="btn"><i class='fas fa-trash-alt delete'></i></a> 
              </td> 
            </tr>
            <tr>
            </tr>
          </tbody> 
        </table>
      </div>
    </div>
  </div>